@model SMPizzaStore.Models.PizzaModel

@{
    ViewBag.Title = "Pizza Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pizza Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
